@import "tailwindcss";
@import "@fontsource/libre-baskerville/700.css"; 


@theme{

    --color-blue-custom: #1D69B5;
    --color-blue-800: #1D69B5;
    --color-blue-700: #1D69B5;
    --color-blue-600: #1D69B5;
    --color-blue-500: #1D69B5;
    --color-blue-400: #1D69B5;
    --color-blue-300: #1D69B5;
    --color-blue-200: #1D69B5;
    --color-blue-100: #1D69B5;
    --color-badge:#D2E8FF;
    --color-yellow-800:#75491E;
    --color-yellow-500:#FFF7CB;
    --color-badge:#FFF7CB;
    --color-title:#1D69B5;
    --color-background:#E0F0FF;

    --text-title:#1D69B5;
    --color-icon:#E9F3FF;

    --text-blue-800: #195FA6;


    --font-baskerville: "Libre Baskerville", serif;
    --font-weight-baskerville: 700;
}